body {
    background-color: lightgray;
    padding: 2vw;
}

nav {

    background-color: lightgray;
}

div.card,
.container-fluid {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 10vw;
}

section,
footer {
    margin-top: 5vw;
}

li {
    list-style: none;
}